{% extends "base.html" %}

{% block content %}
    <form class="center-form" action="/change-password" method="post">
        <div class="form-group">
            <label for="old-pass"><b>Old password</b></label>
            <input type="password" class="form-control" name="old-password" id="old-pass">
        </div>
        <div class="form-group">
            <label for="new-pass"><b>New password</b></label>
            <input type="password" class="form-control" name="new-password" id="new-pass">
        </div>
        <div class="form-group">
            <label for="repeat-pass"><b>New password</b></label>
            <input type="password" class="form-control" name="repeat-password" id="repeat-pass">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock %}