{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}
    TODO
{% endblock %}


{% block content %}
    <div style="background-color: #a0c09e; margin: 50px auto; padding: 30px; width: 50%">
        <form class="center-form" action="/todo/update/{{ id }}?" method="post">
            {{ form.csrf_token() }}
            {{ render_field(form.todo, class="form-control") }}
            {{ render_field(form.status, class="form-control") }}
            {{ form.submit(class="btn btn-success") }}
        </form>
    </div>
{% endblock %}
