.image-wrapper {
    text-align: center;
}

.email {
    font-size: 20px;
}

.account-data {
    text-align: center;
}

.account-image {
    max-width: 20%;
    border-radius: 15px;
}

.date {
    font-family: 'Roboto', sans-serif;
    color: #4d4c4c;
    font-size: 14px;
}