{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}
    Create Post
{% endblock %}

{% block content %}
    <form class="center-form" action="/posts/create" method="post" enctype="multipart/form-data">
        {{ form.csrf_token() }}
        {{ render_field(form.title, class="form-control") }}
        {{ render_field(form.text, class="form-control") }}
        {{ render_field(form.post_type, class="form-control") }}

        {{ render_field(form.image, class="form-control") }}

        {{ form.submit(class="btn btn-success") }}
    </form>
{% endblock %}