{% set navigation_links = {
    'main_page': 'Info',
    'hobbies_page': 'Hobbies',
    'study_page': 'Studying',
    'skills_page': 'Skills',
    'todo_page': 'TODO'
} %}

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% for page, label in navigation_links.items() %}
                    <a class="nav-item nav-link" href="{{ url_for(page) }}">{{ label }}</a>
                {% endfor %}
            </div>
        </div>
        <form class="header-form" action="/change-password" method="get">
            <button type="submit" class="btn btn-outline-dark">Change password</button>
        </form>
        <form class="header-form" action="/logout" method="POST">
            <button type="submit" class="btn btn-outline-secondary">Log out</button>
        </form>
    </nav>
</header>