{% extends "base.html" %}

{% block title %}
    Account
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="../static/css/account.css">
{% endblock %}

{% block content %}
    <div class="account-data">
        <h1>{{ current_user.username }}</h1>
        <p class="email">Email: {{ current_user.email }}</p>
        <p class="image-wrapper">
            <img class="account-image"
                 src="../static/images/{{ current_user.image }}"
                 alt="Profile picture">
        </p>
    </div>
{% endblock %}