{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}


{% block title %}
    Sign up
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="../static/css/info.css">
{% endblock %}

{% block content %}
    <form class="center-form" action="/sign-up" method="post" enctype="multipart/form-data">
        {{ form.csrf_token() }}
        {{ render_field(form.username, class="form-control") }}
        {{ render_field(form.email, class="form-control") }}
        {{ render_field(form.password, class="form-control") }}
        {{ render_field(form.repeat_password, class="form-control") }}

        {{ render_field(form.image, class="form-control") }}
        {{ form.submit(class="btn btn-success") }}
    </form>
{% endblock %}