{% extends "base.html" %}

{% block title %}Hobbies{% endblock %}

{% block image %}
<img style="max-height: 300px" src="../static/images/studying.jpg" alt="">
{% endblock %}

{% block text %}
<p>
    You are a student of math and programming, two disciplines that are essential for success in many fields today. Math
    provides the foundation for understanding the world around us, while programming gives us the tools to create new
    things and solve complex problems.
</p>
<p>
    Your studies in math and programming will give you the skills you need to succeed in a variety of careers. You could
    become a software engineer, data scientist, financial analyst, or even a university professor. The possibilities are
    endless!
</p>

<p>
    Studying math and programming can be challenging, but it is also incredibly rewarding. As you learn more about these
    subjects, you will develop your problem-solving skills, your analytical thinking skills, and your creativity. You
    will also learn how to communicate your ideas effectively.
</p>
{% endblock %}