{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block  title %}
    Login
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="../static/css/info.css">
{% endblock %}

{% block content %}
    {% if message %}
        <h3 class="error-message">{{ message }}</h3>
    {% endif %}

    <form class="center-form" action="/login" method="post">
        {{ form.csrf_token() }}
        {{ render_field(form.login, class="form-control") }}
        {{ render_field(form.password, type="password", class="form-control") }}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock %}
